/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  color: #eef9fd !important;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 796px) {
  .buttonsContainer {
    flex-direction: column;
    justify-content: center;
    gap: 15px
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
